<div id="articles-popup" class="popup" hidden>
    <div class="blocker" onclick="hide_popups()"></div>
        <div class="popup-content" id="article-popup">
            <form action="{% url 'list_articles' url_parameters.language_code %}" id="ART_FORM" method="post">
                {% csrf_token %}
    
    
                <input type="hidden" id="practice_words" name="practice_words" value="">
                <input type="hidden" id="known_words" name="known_words" value="">
                <input type="hidden" id="language" name="language" value="{{url_parameters.language_code}}">
    
                <div class="distinct-form-section">
                    <div class="form-section-title">
                        General
                    </div>
                    <div class="form-line form-line-middle">
                        <label for="articles-count" class="form-field-name">Number of articles:</label>
                        <input class="form-field-name" type="number" id="articles-count" name="article_display_count"
                            value=100>
                    </div>
                    <div class="form-line">
                        <label for="start-date" class="form-field-name">Date</label>
                        <div class="form-field-name">
                            <input type="date" id="start-date" name="start_date">
                            <label for="end-date">to</label>
                            <input type="date" id="end-date" name="end_date">
                            <div class="date-quick-select">
                                <div class="button-small" onclick="set_date_range('day')">1 day</div>
                                <div class="button-small" onclick="set_date_range('week')">1 week</div>
                                <div class="button-small" onclick="set_date_range('month')">1 month</div>
                                <div class="button-small" onclick="set_date_range('max')">max</div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="distinct-form-section">
                    <div class="form-section-title">
                        Practice Words
                    </div>
                    <div class="form-section-subtitle">
                        Find article titles containing these words
                    </div>
                    <div class="form-line form-line-middle">
                        <label for="select-practice-by-selected" class="form-field-name">Selected (<span
                                id="words-selected-count">###</span>)</label>
                        <div class="form-field-name">
                            <input type="checkbox" id="select-practice-by-selected" name="select-practice-by-selected"
                                checked>
                        </div>
                    </div>
                    <div class="form-line form-line">
                        <div for="select-practice-by-selected" class="form-field-name">All labeled (<span
                                id="practice-rating-words-selected-count">0</span>)</div>
                        <div class="rating-buttons extra-gap ">
                            <div id="form-select-practice-rating-all"
                                class="button round-button-small button-rating button-rating-all rating-checked"
                                onclick="click_article_form_rating_button('all')">+</div>
                            <div id="form-select-practice-rating-1"
                                class="button round-button-small button-rating button-rating-1 rating-checked"
                                onclick="click_article_form_rating_button(1)">1</div>
                            <div id="form-select-practice-rating-2"
                                class="button round-button-small button-rating button-rating-2 rating-checked"
                                onclick="click_article_form_rating_button(2)">2</div>
                            <div id="form-select-practice-rating-3"
                                class="button round-button-small button-rating button-rating-3 rating-checked"
                                onclick="click_article_form_rating_button(3)">3</div>
                            <div id="form-select-practice-rating-4"
                                class="button round-button-small button-rating button-rating-4 rating-checked"
                                onclick="click_article_form_rating_button(4)">4</div>
                            <div id="form-select-practice-rating-5"
                                class="button round-button-small button-rating button-rating-5 rating-checked"
                                onclick="click_article_form_rating_button(5)">5</div>
                        </div>
                    </div>
                </div>
    
                <div class="distinct-form-section">
                    <div class="form-section-title">
                        Translated Words
                    </div>
                    <div class="form-section-subtitle">
                        Decide how to handle translation in the mixed translation view. 
                        By default, labeled words not in the practice set, will be left in their original language.
                    </div>
                    <div class="form-line form-line-middle">
                        <label for="select-translate-labeled" class="form-field-name">Translate labeled words not in the practice set</label>
                        <div class="form-field-name">
                            <input type="checkbox" id="select-translate-labeled" name="select-translate-labeled">
                        </div>
                    </div>
                </div>
    
                <div class="build_articles_submit_button_section">
                    <div class="button build_articles_submit_button" id="SUB_ARTICLES"
                        onclick="submit_form('ART_FORM', '{% url 'list_articles' url_parameters.language_code %}')">
                        Find Articles &nbsp;<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                    </div>

                    <div class="button build_articles_submit_button" id="SUB_ARTICLES"
                        onclick="submit_form('ART_FORM', '{% url 'list_articles' url_parameters.language_code 'opensubtitles'%}')">
                        Find Opensubtitles &nbsp;<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                    </div>
                </div>
    
    
            </form>
        </div>
    </div>