<div id="articles-popup" class="popup" hidden>
    <div class="blocker" onclick="hide_popups()"></div>
    <div class="popup-content" id="article-popup">
        <h3> Build Articles </h3>
        <form action="{% url 'list_articles' %}" id="ART_FORM" method="post">
            {% csrf_token %}
            <div>
                <label for="articles-count">Number of articles:</label>
                <input type="number" id="articles-count" name="article_display_count" value=100>
            </div>
            <div>
                <label for="start-date">From</label>
                <input type="date" id="start-date" name="start_date">
                <label for="end-date">to</label>
                <input type="date" id="end-date" name="end_date">
            </div>

            <div>
                <H4>Practice Words</H4>
                <div>
                    <label for="select-practice-by-selected">Selection (<span
                            id="words-selected-count">###</span>)</label>
                    <input type="checkbox" class="select-deselet-checkbox" id="select-practice-by-selected"
                        name="select-practice-by-selected" value="XXXX" checked>
                </div>
                <div class="rating-buttons">
                    <div>Rated</div>
                    <input type="checkbox" class="select-deselet-checkbox" id="select-practice-rating-1" rating=""
                        name="select-practice-rating-1" value="{{word.word}}">
                    <label for="select-practice-rating-1">
                        <div id="select-practice-rating-1-{{word.word}}"
                            class="button button-rating button-rating-1 rating-checked">
                            1
                        </div>
                    </label>

                    <input type="checkbox" class="select-deselet-checkbox" id="select-practice-rating-2" rating=""
                        name="select-practice-rating-2" value="{{word.word}}">
                    <label for="select-practice-rating-2">
                        <div id="select-practice-rating-2-{{word.word}}"
                            class="button button-rating button-rating-2 rating-checked">
                            2
                        </div>
                    </label>

                    <input type="checkbox" class="select-deselet-checkbox" id="select-practice-rating-3" rating=""
                        name="select-practice-rating-3" value="{{word.word}}">
                    <label for="select-practice-rating-3">
                        <div id="select-practice-rating-3-{{word.word}}"
                            class="button button-rating button-rating-3 rating-checked">
                            3
                        </div>
                    </label>

                    <input type="checkbox" class="select-deselet-checkbox" id="select-practice-rating-4" rating=""
                        name="select-practice-rating-4" value="{{word.word}}">
                    <label for="select-practice-rating-4">
                        <div id="select-practice-rating-4-{{word.word}}"
                            class="button button-rating button-rating-4 rating-checked">
                            4
                        </div>
                    </label>

                    <input type="checkbox" class="select-deselet-checkbox" id="select-practice-rating-5" rating=""
                        name="select-practice-rating-5" value="{{word.word}}">
                    <label for="select-practice-rating-5">
                        <div id="select-practice-rating-5-{{word.word}}"
                            class="button button-rating button-rating-5 rating-checked">
                            5
                        </div>
                    </label>

                </div>
            </div>

            <div>
                <H4>Known Words</H4>
                <div>
                    <input type="checkbox" class="select-deselet-checkbox" id="XXX1" name="XXX1" value="XXXX">
                    <label for="XXX1">Limit to words in filter range</label>
                </div>
                <div>
                    <input type="checkbox" class="select-deselet-checkbox" id="include-unrated" name="XXX2"
                        value="XXXX">
                    <label for="include-unrated">Include unrated words in filter range </label>
                </div>
            </div>

            <input type="hidden" id="practice_words" name="practice_words" value="">
            <input type="hidden" id="known_words" name="known_words" value="">
            <input type="hidden" id="language" name="language" value="{{url_parameters.language}}">

            <div class="build_articles_submit_button_section">
                <div class="button build_articles_submit_button" id="SUB_ARTICLES" onclick="submit_form('ART_FORM')">
                    Build
                </div>
            </div>

        </form>
    </div>
</div>