{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/words/index_new.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/idb@7/build/umd.js"></script>
    <script src="{% static '/js/jquery-3.6.0.min.js' %}"></script>
    <script>
        var words = {{ words | safe }};
        var words_to_show_dict = {{ words_to_show_dict | safe}}
    </script>
    <script src="{% static 'js/words/index_new.js' %}"></script>
</head>

<body>
    <div class="page">
        <button onclick="export_word_ratings()">Export ratings</button>
        <button onclick="import_word_ratings()">Import ratings</button>

        <div class="button" onclick="show_articles_popup()">
            Articles
        </div>

        <div class="wordslist-form">
            <form action="" method="get">
                <!-- {% csrf_token %} -->
                {{ form }}
                <input type="submit" value="Submit">
            </form>
        </div>

        <form class="card" method="POST">
            {% csrf_token %}
            <button class="button" formaction="{% url 'flashcards' %}">
                Flashcards
            </button>
            <div class="word-line">
                <input type="checkbox" id="select-deselect-all" class="select-deselet-checkbox" onclick="select_all()">
                <div></div>
                <div class="rating-buttons ">
                    <input type="checkbox" id="select-deselect-rating-1"
                        class="select-deselet-checkbox select-deselect-rating-1" onclick="select_by_filter(1)">
                    <input type="checkbox" id="select-deselect-rating-2"
                        class="select-deselet-checkbox select-deselect-rating-2" onclick="select_by_filter(2)">
                    <input type="checkbox" id="select-deselect-rating-3"
                        class="select-deselet-checkbox select-deselect-rating-3" onclick="select_by_filter(3)">
                    <input type="checkbox" id="select-deselect-rating-4"
                        class="select-deselet-checkbox select-deselect-rating-4" onclick="select_by_filter(4)">
                    <input type="checkbox" id="select-deselect-rating-5"
                        class="select-deselet-checkbox select-deselect-rating-5" onclick="select_by_filter(5)">
                </div>
                <div></div>
                <div>
                    <input type="checkbox" id="filter-unselected" class="select-deselet-checkbox"
                        onclick="hide_unselected()">
                    <label for="filter-unselected">Filter unselected</label>
                </div>
            </div>

            <input type="hidden" name="language" value="{{url_parameters.language}}">
            {% for word in words %}
            <div>
                <div class="word-line">
                    <div class="word-line-element">
                        <input type="checkbox" class="select-word-checkbox" id="select-word-{{word.word}}" rating=""
                            name="select-word-{{word.word}}" value="{{word.word}}">
                        <label for="select-word-{{word.word}}"></label>
                    </div>
                    <div class="word-line-element">
                        {{word.index}}
                    </div>
                    <div class="rating-buttons word-line-element">
                        <div id="button-rating-1-{{word.word}}" class="button button-rating button-rating-1"
                            onclick="clicked_update('{{word.word}}', 1)">
                            1
                        </div>
                        <div id="button-rating-2-{{word.word}}" class="button button-rating button-rating-2"
                            onclick="clicked_update('{{word.word}}', 2)">
                            2
                        </div>
                        <div id="button-rating-3-{{word.word}}" class="button button-rating button-rating-3 "
                            onclick="clicked_update('{{word.word}}', 3)">
                            3
                        </div>
                        <div id="button-rating-4-{{word.word}}" class="button button-rating button-rating-4"
                            onclick="clicked_update('{{word.word}}', 4)">
                            4
                        </div>
                        <div id="button-rating-5-{{word.word}}" class="button button-rating button-rating-5"
                            onclick="clicked_update('{{word.word}}', 5)">
                            5
                        </div>
                    </div>
                    <div class="word-line-element">
                        {{word.word_diacritic}}
                    </div>
                    <div class="word-line-element">
                        <div>{{word.translation}}</div>
                    </div>
                    <div class="word-line-element">
                        <div id="{{word.word}}-root">{{word.root}}</div>
                    </div>
                    <div class="fa fa-ellipsis-h show_context_menu" onclick="show_context_menu(this)"
                        word="{{word.word}}" root="{{word.root}}" user_roots="{{word.user_roots}}"
                        translation=" {{word.translation}}" user_translations="{{word.user_translations}}">
                    </div>
                </div>
                <div class="line-seperator"></div>
            </div>
            {% endfor %}
        </form>
    </div>


    <div id="articles-popup" class="popup" hidden>
        <div class="blocker" onclick="hide_popups()"></div>
        <div class="popup-content" id="article-popup">
            See Articles
            <form action="{% url 'list_articles' %}" id="ART_FORM" method="post">
                {% csrf_token %}
                <div>Selected words: </div>
                <div id="words-selected-count">###</div>
                <!-- <div id="words-selected-count" onclick="postit('{{csrf_token}}')">###</div> -->
                <!-- <div id="words-selected-count" onclick="postit2('{{csrf_token}}')">###</div> -->
                <div>
                    <input type="checkbox" class="XXX" id="XXX" name="XXX1" value="XXXX">
                    <label for="XXX1">Limit known words in range </label>
                </div>
                <div>
                    <input type="checkbox" class="XXX" id="include-unrated" name="XXX2" value="XXXX">
                    <label for="XXX2">Include unrated words </label>
                </div>

                <input type="number" id="articles-count" name="article_display_count" value=100>
                <input type="date" id="start-date" name="start_date">
                <input type="date" id="end-date" name="end_date">
                <input type="hidden" id="practice_words" name="practice_words" value="">
                <input type="hidden" id="known_words" name="known_words" value="">


                <button class="button" id="SUB_ARTICLES">
                    Articles
                </button>

            </form>
        </div>
    </div>

    <div id="edit-popup" class="popup" hidden>
        <div class="blocker" onclick="hide_edit_popup()"></div>
        <div class="popup-content">
            <div id="popup-word">-----</div>

            <div>
                <div>translation:</div>
                <div id="translation">-----</div>
            </div>
            <div id="existing-translations" class="existing-entries">-----</div>

            <div class="form-box">
                <label for="new_translation">new translation:</label>
                <input type="text" id="new_translation" name="new_translation" list="existing_translations_list"
                    autocomplete="off">
                <datalist id="existing_translations_list">
                </datalist>
                <button id="word-translation-submit" onclick="update_translation()">Update Translation</button>
            </div>

            <div>
                <div>root:</div>
                <div id="root">-----</div>
            </div>
            <div id="existing-roots" class="existing-entries">-----</div>
            <div class="form-box">
                <label for="new_root">new root:</label>
                <input type="text" id="new_root" name="new_root" list="existing_roots_list" autocomplete="off">
                <datalist id="existing_roots_list">
                </datalist>
                <button id="word-root-submit" onclick="update_root()">Update Root</button>
            </div>
        </div>
    </div>

    <div class="context-menu" id="context-menu" hidden>
        <div class="context-menu-element" onclick="context_menu_edit_word()">
            edit word
        </div>
        <div class="context-menu-element" target="_blank"
            onclick="context_menu_open_definition(this, '{{url_parameters.language|title}}')">
            Definition
        </div>
        <div class="context-menu-element" onclick="context_menu_examples_word(this, '{{csrf_token}}')">
            see examples
        </div>
    </div>

</body>