{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/words/index_new.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/idb@7/build/umd.js"></script>
    <script src="{% static '/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/words/index_new.js' %}"></script>
    <script>
        var words = {{ words | safe }};
    </script>
</head>

<body>
    <div class="page">
        <div class="rating-buttons word-line-element">
            Select:
            <div id="button-rating-1" class="button button-rating-1" onclick="select_by_filter(1)">
                1
            </div>
            <div id="button-rating-2" class="button  button-rating-2" onclick="select_by_filter(2)">
                2
            </div>
            <div id="button-rating-3" class="button  button-rating-3 " onclick="select_by_filter(3)">
                3
            </div>
            <div id="button-rating-4" class="button  button-rating-4" onclick="select_by_filter(4)">
                4
            </div>
            <div id="button-rating-5" class="button  button-rating-5" onclick="select_by_filter(5)">
                5
            </div>
        </div>
        <div class="rating-buttons word-line-element">
            DeSelect:
            <div id="button-rating-1" class="button button-rating-1" onclick="deselect_by_filter(1)">
                1
            </div>
            <div id="button-rating-2" class="button  button-rating-2" onclick="deselect_by_filter(2)">
                2
            </div>
            <div id="button-rating-3" class="button  button-rating-3 " onclick="deselect_by_filter(3)">
                3
            </div>
            <div id="button-rating-4" class="button  button-rating-4" onclick="deselect_by_filter(4)">
                4
            </div>
            <div id="button-rating-5" class="button  button-rating-5" onclick="deselect_by_filter(5)">
                5
            </div>
        </div>
        <div>
            <div class="button" onclick="clear_selection()">Clear selection</div>
            <div class="button" onclick="select_all()">Select All</div>
        </div>

        <form class="card" method="POST">
            {% csrf_token %}
            <!-- <div class="buttons"> -->
            <!-- <button class="button" method = "GET" action = "" > -->
            <button class="button" formaction="{% url 'flashcards' %}">
                Flashcards
            </button>
            <button class="button" formaction="ARTICLEs">
                Articles
            </button>
            <input type="hidden" name="language" value="{{url_parameters.language}}"> 
            <!-- </div> -->
            {% for word in words %}
            <div class="word-line">
                <div class="word-line-element">
                    <input type="checkbox" class="select-word-checkbox" id="select-word-{{word.word}}"
                        name="select-word-{{word.word}}" value="{{word.word}}">
                    <label for="select-word-{{word.word}}"></label>
                </div>
                <div class="word-line-element">
                    {{word.index}}
                </div>
                <div class="rating-buttons word-line-element">
                    <div id="button-rating-1-{{word.word}}" class="button button-rating button-rating-1"
                        onclick="clicked_update('{{word.word}}', 1)">
                        1
                    </div>
                    <div id="button-rating-2-{{word.word}}" class="button button-rating button-rating-2"
                        onclick="clicked_update('{{word.word}}', 2)">
                        2
                    </div>
                    <div id="button-rating-3-{{word.word}}" class="button button-rating button-rating-3 "
                        onclick="clicked_update('{{word.word}}', 3)">
                        3
                    </div>
                    <div id="button-rating-4-{{word.word}}" class="button button-rating button-rating-4"
                        onclick="clicked_update('{{word.word}}', 4)">
                        4
                    </div>
                    <div id="button-rating-5-{{word.word}}" class="button button-rating button-rating-5"
                        onclick="clicked_update('{{word.word}}', 5)">
                        5
                    </div>
                </div>
                <div class="word-line-element">
                    {{word.word_diacritic}}
                </div>
                <div class="word-line-element">
                    {{word.translation}}
                </div>
                <a id="open-dictionary" class="button" target="_blank" href="https://en.wiktionary.org/wiki/{{word.word}}#{{url_parameters.language|title}}">
                    <i class="fa fa-wikipedia-w"></i>
                </a>
                <a id="open-examples" class="button" target="_blank" href="">
                    <i class="fa fa-tasks"></i>
                </a>
            </div>
            {% endfor %}
        </form>
    </div>
</body>