{% load static %}

<link rel="stylesheet" href="{% static 'css/words/index.css' %}">
<script src="{% static '/js/jquery-3.6.0.min.js' %}"></script>

<div class="page">
    <div class="card">
            <div>
            <table class="word_line" border="1">
                {% for word in words %}
                <tr>
                    <td class="line_element word_idx">
                        {{word.index}}
                    </td>
                    <td class="line_element word_word">
                        {{word.word_diacritic}}
                    </td>
                    <td class="line_element word_translation">
                        {{word.translation}}
                    </td>
                    <td class="line_element word_articles">
                        <div><a target="_blank" href="{% url 'list_articles_config' %}?language={{url_parameters.language}}&known_cutoff={{word.index}}&practice_cutoff={{word.index|add:1}}&seen_cutoff={{url_parameters.upper_freq_cutoff}}">-examples</a></div>
                        <div><a target="_blank" href="https://en.wiktionary.org/wiki/{{word.word}}#{{url_parameters.language|title}}">-def</a></div>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="wordslist-form">
        <form action="" method="get">
            <!-- {% csrf_token %} -->
            {{ form }}
            <input type="submit" value="Submit">
        </form>

        <br>
        <div><a target="_blank" href="{% url 'words_config' %}?language={{url_parameters.language}}&lower_freq_cutoff={{url_parameters.lower_freq_cutoff}}&upper_freq_cutoff={{url_parameters.upper_freq_cutoff}}">SELECT WORDS </a></div>
        <br>
        <div><a target="_blank" href="{% url 'flashcards' %}?language={{url_parameters.language}}&lower_freq_cutoff={{url_parameters.lower_freq_cutoff}}&upper_freq_cutoff={{url_parameters.upper_freq_cutoff}}">FLASHCARDS</a></div>
        <br>
        <div><a target="_blank" href="{% url 'list_articles_config' %}?language={{url_parameters.language}}&known_cutoff={{url_parameters.lower_freq_cutoff}}&practice_cutoff={{url_parameters.upper_freq_cutoff}}">PRACTICE ARTICLES</a></div>
        <br>

    </div>
</div>