{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/words/index.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/npm/idb@7/build/umd.js"></script>
<script src="{% static '/js/jquery-3.6.0.min.js' %}"></script>
{{ words|json_script:"words-data" }}
{{ words_to_show_dict|json_script:"words_to_show_dict-data" }}
{{ user_word_ratings|json_script:"user_word_ratings-data" }}
<script>
    var user_auth_token = "{{ user_auth_token }}";
</script>
<script src="{% static 'js/words/index.js' %}"></script>
{% endblock %}

{% block content %}


<div class="page">
    <div class="card">
        <div class="section-first distinct-section">
            <div class="wordslist-form">
                Word frequency range:
                <form id="filter-form" method="get">
                    <input name="lower_freq_cutoff" class="number-input" type="number"
                        value="{{url_parameters.lower_freq_cutoff}}" /> -
                    <input name="upper_freq_cutoff" class="number-input" type="number"
                        value="{{url_parameters.upper_freq_cutoff}}" />
                    <i class="button pointer fa fa-filter" aria-hidden="true" onclick="submit_filter_form()"
                        title="Filter selection"></i> &nbsp;
                    <input type="submit" hidden value="filter"> 
                </form>
            </div>
            <div></div>
            <div class="build-buttons">
                <div id="build_flashcards" class="button xxxx button-disabled" onclick="alert('Please select words first')">
                    Build Flashcards
                </div>
                <div class="button xxxx" onclick="show_articles_popup()">
                    Build Articles
                </div>
            </div>
        </div>

        <div class="distinct-section">
            <!-- TODO toggle this and add a helper text -->
            <div>&nbsp;</div>
            <div>
                
                <div>Select:</div>
                <div class="select-filter-line">
                    <!-- TODO: style the checkboxes better -->
                    <div id="select-deselect-all" class="button round-button select-all-button" onclick="select_all()">All</div>
                    <div class="rating-buttons extra-gap ">
                        <div id="select-deselect-rating-1" class="button round-button button-rating button-rating-1 rating-checked" onclick="select_by_filter(1)">1</div>
                        <div id="select-deselect-rating-2" class="button round-button button-rating button-rating-2 rating-checked" onclick="select_by_filter(2)">2</div>
                        <div id="select-deselect-rating-3" class="button round-button button-rating button-rating-3 rating-checked" onclick="select_by_filter(3)">3</div>
                        <div id="select-deselect-rating-4" class="button round-button button-rating button-rating-4 rating-checked" onclick="select_by_filter(4)">4</div>
                        <div id="select-deselect-rating-5" class="button round-button button-rating button-rating-5 rating-checked" onclick="select_by_filter(5)">5</div>
                        <div id="select-deselect-rating-0" class="button round-button button-rating button-rating-unrated rating-checked" onclick="select_by_filter(0)">Unlabelled</div>
                    </div>
                    <div>
                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        
                        <span id="selcted_count">0</span> words selected
                    </div>
                    <div>
                        <input type="checkbox" id="filter-unselected" hidden>
                        <div class="pointer eyeer" id="filter-unselected-toggle" onclick="toggle_visible_words()"
                            title="Show selected only"> <i id="filter-unselected-icon" class="fa fa-eye-slash"
                                aria-hidden="true"></i> Hide/Show unselected </div>
                    </div>
                </div>
            </div>
        </div>


        <form id="main_form" class="section-second" action="{% url 'flashcards' url_parameters.language_code %}" method="POST">
            {% csrf_token %}
            <div class="word-line">
                <div>Select</div>
                <div> </div>
                <div class="word-line-element">
                    Familiarity Label
                </div>
                <div class="word-line-element">Word</div>
                <div class="word-line-element">Root</div>
                <div class="word-line-element">Translation</div>
                <div></div>
            </div>
            <input type="hidden" name="language" value="{{url_parameters.language_code}}">
            {% for word in words %}
            <div>
                <div class="word-line">
                    <div class="word-line-element word-index-display">
                        {{word.index}}
                    </div>
                    <div class="word-line-element">
                        <input type="checkbox" class="select-word-checkbox pointer" id="select-word-{{word.word}}"
                            rating="0" name="select-word-{{word.word}}" value="{{word.word}}">
                        <label for="select-word-{{word.word}}"></label>
                    </div>
                    <div class="rating-buttons word-line-element">
                        <div id="button-rating-1-{{word.word}}" class="button button-rating button-rating-1"
                            onclick="clicked_update('{{word.word}}', 1)">
                            1
                        </div>
                        <div id="button-rating-2-{{word.word}}" class="button button-rating button-rating-2"
                            onclick="clicked_update('{{word.word}}', 2)">
                            2
                        </div>
                        <div id="button-rating-3-{{word.word}}" class="button button-rating button-rating-3 "
                            onclick="clicked_update('{{word.word}}', 3)">
                            3
                        </div>
                        <div id="button-rating-4-{{word.word}}" class="button button-rating button-rating-4"
                            onclick="clicked_update('{{word.word}}', 4)">
                            4
                        </div>
                        <div id="button-rating-5-{{word.word}}" class="button button-rating button-rating-5"
                            onclick="clicked_update('{{word.word}}', 5)">
                            5
                        </div>
                        <div id="button-rating-0-{{word.word}}" class="button-rating-opposite button-rating-0"
                            onclick="clicked_update('{{word.word}}', 0)">
                            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="word-line-element">
                        {{word.word_diacritic}}
                    </div>
                    <div class="word-line-element">
                        <div id="{{word.word}}-root">{{word.root}}</div>
                    </div>
                    <div class="word-line-element">
                        <div id="{{word.word}}-translation">{{word.translation}}</div>
                    </div>
                    <div class="fa fa-ellipsis-h show_context_menu" onclick="show_context_menu(this)"
                        word="{{word.word}}" root="{{word.root}}" user_roots="{{word.user_roots}}"
                        translation=" {{word.translation}}" user_translations="{{word.user_translations}}">
                    </div>
                </div>
                <div class="line-seperator"></div>
            </div>
            {% endfor %}
        </form>
    </div>

    {% include 'articles_popup.html' %}.

    <div class="context-menu" id="context-menu" hidden>
        <div class="context-menu-element" onclick="context_menu_show_word()">
            Word details
        </div>
        <div class="context-menu-element" onclick="context_menu_examples_word(this, '{{csrf_token}}')">
            See examples
        </div>
        <div class="context-menu-element" target="_blank"
            onclick="context_menu_open_definition(this, '{{url_parameters.language_code|title}}')">
            Wiktionary <i class="fa fa-external-link"></i>
        </div>
        <div class="context-menu-element" target="_blank" onclick="context_menu_open_pealim(this)">
            Pealim <i class="fa fa-external-link"></i>
        </div>
    </div>


    {% endblock content %}