.card {
  margin: auto;
  background-color: white;
  box-shadow: 0 0 0.5rem rgb(0, 0, 0, 0.9);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}



a {
  color: inherit;
  text-decoration: inherit;
}

.page {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-size: 18px;
  /* TODO: consider making this only for arabic */
  font-family: "Droid Arabic Kufi", serif;
}


@media only screen and (max-width: 50rem) {
  .articles_right_panel {
    display: none;
  }
}

.articles_right_panel {
  width: 7rem;
  position: fixed;
  padding: 0.5rem;
  right: 0px;
  top: 30px;
}

.right_panel_section {
  padding: 1rem;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #d3d3d3;
  border-radius: 5px;
}

.articles {
  width: 70%;
  align-self: center;
}

.article {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
}

.title {
  font-size: 1.5rem;
  background-color: #cfd8dc;
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px;
  direction: rtl;
}

.title_translation {
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: #bad3da;
  padding: 10px;
}

.title_mix {
  font-size: 1.5rem;
  direction: rtl;
  border-radius: 5px;
  /* background-color: hsl(120, 100%, 95%); */
  padding: 10px;
}

.title_mix_segmented {
  background-color: #caffca;
}

.article_metadata {
  direction: ltr;
  font-size: 1rem;
  margin-top: 1rem;
  padding-left: 2rem;
  font-weight: bold;

}


.article_debug {
  direction: ltr;
  font-size: 10px;
  margin-top: 1rem;
  justify-content: right;
}

.word_tooltip {
  font-size: 1rem;
  display: none;
}

.word {
  display: inline;
  margin-left: 7px;
  white-space: nowrap;
  cursor: pointer;
}

.word_mix {
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

.word_native {
  background-color: #8c8c8c33;
}

.word_foreign {
  background-color: red;
}

.word_foreign_known {
  background-color: #ccd6ee;
}

.word_foreign_seen {
  background-color: #eecccc;
}

.word_foreign_practice {
  background-color: #99d7fb;
}

.word:hover {
  background-color: violet;
}

.word_tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -15px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent rgb(157, 157, 164) transparent;
}

.word:hover+.word_tooltip {
  position: absolute;
  border-radius: 10px;
  display: block;
  color: rgb(38, 38, 38);
  width: 130px;
  background-color: rgb(205, 205, 216);
  height: fit-content;
  text-align: center;
  padding: 5px;
}

.button {
  cursor: pointer;
  margin: 1rem;
  padding: 0.7rem;
  /* border-radius: 20px; */
  /* outline: 1px black ridge; */
  text-align: center;
  margin-top: 1.2rem;
}

.button:hover {
  outline: 2px black ridge;
}

.section_flexion {
  font-size: 1.5rem;
  background-color: #c2dff8;
  border-radius: 5px;
  outline: 1px black ridge;
}

.section_lemma {
  background-color: #b2cce1;
  border-radius: 5px;
  outline: 1px black ridge;
}

.section_trans {
  background-color: #9cbedc;
  border-radius: 5px;
  outline: 1px black ridge;
}

.is_proper_noun {
  background-color: #fbf999;
}

.word_correction {
  position: fixed;
  top: 123px;
  left: 50%;
  border-radius: 10px;
  display: block;
  color: rgb(38, 38, 38);
  background-color: rgb(228, 148, 225);
  height: fit-content;
  width: fit-content;
  text-align: center;
  padding: 20px;
}

.word_correction_word {
  font-size: 30px;
  padding: 10px;
}

.word_correction_rating {
  background-color: #bad3da;
  outline: 1px black ridge;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;

}

.blocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: ' ';
  background: rgba(0, 0, 0, .5);
}

.article_summary {
  padding: 2rem;
}

.button {
  width: 2rem;
  height: 2rem;
  border-radius: 0.6rem;
  outline: black 1px solid;
}
.button-active {
  -webkit-box-shadow:inset 0px 0px 12px 0.2rem #2196F3;
  -moz-box-shadow:inset  0px 0px 12px 0.2rem #2196F3;
  box-shadow:inset  0px 0px 12px 0.2rem #2196F3;
}

.side-button{
  margin-left: auto;
  margin-right: 0;
}

.rating-1 {
  background-color: red;
}

.rating-2 {
  background-color: orange;
}

.rating-3 {
  background-color: yellow;
}

.rating-4 {
  background-color:#b7dd29;
}

.rating-5 {
  background-color: green;
  color: white;
}

.round-rating {
  border-radius: 50%;
  display: flex;
  box-shadow: 2px 2px 3px black;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  outline: black 1px solid;
}

.center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-item {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}