.page {
  display: flex;
  justify-content: center;
}
.articles {
  width: 50%;
  align-self: center;
}
.article {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
}
.title {
  background-color: #cfd8dc;
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px;
}
.title_translation {
  border-radius: 5px;
  background-color: #bad3da;
  padding: 10px;
}
.title_mix {
  direction: rtl;
  border-radius: 5px;
  background-color: #e5ffe5;
  padding: 10px;
}
.title_mix_segmented {
  background-color: #caffca;
}
.article_metadata {
  font-size: 10px;
}
.word_tooltip {
  display: none;
}

.word {
  display: inline;
  margin-left: 7px;
  white-space: nowrap;
}

.word_mix{
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
}
.word_native{
  background-color: #8c8c8c33;
}
.word_foreign {
  background-color: red;
}
.word_foreign_known {
  background-color: #a6bcf0;
}
.word_foreign_practice {
  background-color: #99d7fb;
}
.word:hover {
  background-color: violet;
}

.word:hover + .word_tooltip {
  position: absolute;
  border-radius: 10px;
  display: block;
  color: rgb(38, 38, 38);
  width: 100px;
  background-color: rgb(148, 148, 228);
  height: fit-content;
  text-align: center;
  padding: 5px;
}

.button {
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  border-radius: 20px;
  outline: 1px black ridge;
  text-align: center;
}

.button:hover {
  background-color: #8c8c8c;
  outline: 2px black ridge;
}

.button_partial_translation {
  background-color: e5ffe5;
}
.button_full_translation {
  background-color: bad3da;
}
