{% load static %}

<link rel="stylesheet" href="{% static 'css/articles/style.css' %}">
<script src="{% static '/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static '/js/articles/logic.js' %}"></script>
<script>
    var speech_voice = "{{speech_voice}}";
</script>


{% for article in articles %}

<div class="page">
    <div class="articles">
        <div class="article" style="width: 100%; display: table;">
            <div style="width: 90%; display: table-cell;">
                <div class="title" text="{{ article.title }}">
                    {% for word in article.words %}
                    <span class="word" id="word_{{forloop.counter}}"> {{ word.word }} </span>
                    <div class="word_tooltip" id="word_tooltip_{{forloop.counter}}">{{word.translation}}</div>
                    {%endfor %}
                    <div class="article_metadata">
                        {{article.source}}
                        --
                        {{article.feed_name}}
                        ---
                        {{article.published_datetime}}
                        ---
                        score: {{article.known_words_count}}
                        ---
                        <a href={{article.link}}> LINK </a>
                    </div>
                </div>

                <div class="title_mix">
                    {% for word in article.words %}
                    <div class="word word_{{word.word_foreign}}" id="word_{{forloop.counter}}">{{ word.mix_word }}</div>
                    <div class="word_tooltip" id="word_tooltip_{{forloop.counter}}">
                        <div class="mix_tooltip_1">{{word.mix_word_tooltip_1}}</div>
                        <div class="mix_tooltip_2" hidden>{{word.mix_word_tooltip_2}}</div>
                    </div>
                    {%endfor %}
                </div>
                <div class="title_translation" hidden>
                    {{ article.title_translation}}
                </div>
            </div>
            <div style="width: 10%; display: table-cell;">
                <div class="button_partial_translation button">mix</div>
                <div class="button_full_translation button">full</div>
                <div class="button_speak button">speak</div>
            </div>

        </div>
    </div>
</div>
{% empty %}
No articles to render.
{% endfor %}