<!-- TODO : split this up using partials -->
<!-- TODO : move style tags to classes -->

{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/articles/style.css' %}">
<script src="https://cdn.jsdelivr.net/npm/idb@7/build/umd.js"></script>
<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/earlyaccess/droidarabickufi.css" type="text/css"/>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script src="{% static '/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static '/js/articles/logic.js' %}"></script>
<script>
    var speech_voice = "{{speech_voice}}";
</script>
{% endblock %}


{% block content %}
<div class="page">

    <div class="articles">
        {% for article in articles %}
        <div class="card" style="width: 100%; display: table;" feed_source="{{article.feed_source}}"
            feed_name="{% for feed_name in article.feed_names %}{{feed_name}} {%endfor %}">
            <div style="width: 90%; display: table-cell;">
                <div class="title" text="{{article.title}}">
                    {% for word in article.words %}
                    <span class="word" id="word_{{forloop.counter}}" original_txt="{{word.word_foreign}}"
                        lemma="{{word.lemma_foreign}}">{{word.word_foreign}}</span>

                    <div class="word_tooltip" id="word_tooltip_{{forloop.counter}}">
                        <div class="mix_tooltip_1">
                            <div class="section_flexion">{{word.word_foreign}}</div>
                            <div class="section_lemma">
                                <div>{{word.token_segmented}}</div>
                                {% if word.verb_tense %}<div>(verb: {{word.verb_tense}})</div>{% endif %}
                                {% if word.is_proper_noun %}<div>(name)</div>{% endif %}
                                {% if word.is_prep_pronoun %}<div>({{word.token_segmented}})</div>{% endif %}
                                ({{word.features}})
                                <div class="mix_tooltip_2" hidden>{{word.flexion_translation}}</div>
                                <div class="mix_tooltip_2">---</div>
                            </div>
                            <div class="section_trans" onclick="open_word_details_page(this)"
                                lemma="{{word.lemma_foreign}}">
                                <div>{{word.lemma_foreign_diacritic}}</div>
                                <div><i class="fa fa-sort" aria-hidden="true"></i>
                                    {{word.lemma_foreign_index}} &nbsp; <i class="fa fa-star-o"
                                        aria-hidden="true"></i>{{word.lemma_rating}}</div>
                                <div>{{word.lemma_root}}</div>
                                <div class="mix_tooltip_2" hidden>{{word.token_prefixes}}{{word.word_translation}}</div>
                                <div class="mix_tooltip_2">---</div>
                            </div>
                        </div>
                    </div>
                    {%endfor %}
                </div>

                <div class="title_mix">
                    {% for word in article.words %}
                    {% if word.lemma_known or word.lemma_practice or word.lemma_seen or word.is_proper_noun %}
                    <div class="word word_mix word_foreign word_foreign_{{word.lemma_known_status}} {% if word.is_proper_noun %}is_proper_noun{% endif %}"
                        id="word_{{forloop.counter}}" original_txt="{{word.word_foreign}}"
                        lemma="{{word.lemma_foreign}}">{{word.word_foreign}}</div>
                    {% else %}
                    <div class="word word_mix word_native" id="word_{{forloop.counter}}"
                        original_txt="{{word.word_foreign}}" lemma="{{word.lemma_foreign}}">
                        {{word.flexion_translation}}</div>
                    {% endif %}

                    <div class="word_tooltip" id="word_tooltip_{{forloop.counter}}">
                        <div class="mix_tooltip_1">
                            <div class="section_flexion">{{word.word_foreign}}</div>
                            <div class="section_lemma">
                                <div>{{word.token_segmented}}</div>
                                {% if word.verb_tense %}<div>(verb: {{word.verb_tense}})</div>{% endif %}
                                {% if word.is_proper_noun %}<div>(name)</div>{% endif %}
                                {% if word.is_prep_pronoun %}<div>({{word.token_segmented}})</div>{% endif %}
                                ({{word.features}})
                                <div class="mix_tooltip_2" hidden>{{word.flexion_translation}}</div>
                                <div class="mix_tooltip_2">---</div>
                            </div>
                            <div class="section_trans" onclick="open_word_details_page(this)"
                                lemma="{{word.lemma_foreign}}">
                                <div>{{word.lemma_foreign_diacritic}}</div>
                                <div><i class="fa fa-sort" aria-hidden="true"></i>
                                    {{word.lemma_foreign_index}} &nbsp; <i class="fa fa-star-o"
                                        aria-hidden="true"></i>{{word.lemma_rating}}</div>
                                <div>{{word.lemma_root}}</div>
                                <div class="mix_tooltip_2" hidden>{{word.token_prefixes}}{{word.word_translation}}</div>
                                <div class="mix_tooltip_2">---</div>
                            </div>
                        </div>
                    </div>
                    {%endfor %}
                </div>
                <div class="title_translation" hidden>
                    {{article.title_translation}}
                </div>
                <div class="article_metadata">
                    {{article.published_datetime}}
                    //
                    {{article.feed_source}}
                    :
                    {% for feed_name in article.feed_names %}{{feed_name}} {%endfor %}
                </div>
                <div class="article_summary">
                    {% autoescape off %}
                    Summary:<div>{{article.summary}}</div>
                    {% endautoescape %}
                </div>
                <div class="article_debug">
                    {{article.feed_source}}
                    --
                    {% for feed_name in article.feed_names %}{{feed_name}} {%endfor %}
                    ---
                    {{article.published_datetime}}
                    ---
                    known: {{article.known_words_count}}
                    practice: {{article.practice_words_count}}
                    ratio1: {{article.practice_words_ratio}}
                    ratio2: {{article.known_practice_seen_words_ratio}}
                    is_about_sports: {{article.is_about_sports}}
                    ---
                </div>

            </div>
            <div style="width: 10%; display: table-cell;">
                <div class="button_speak button" onclick="speak_title_helper(this)"> <i class="fa fa-volume-up"></i>
                </div>
                <div class="button_partial_translation button" onclick="show_partial_translation(this)"><i
                        class="fa fa-tasks"></i></div>
                <div class="button_full_translation button" onclick="show_full_translation(this)"><i
                        class="fa fa-language"></i></div>
                <div class="button" onclick="window.open('{{article.link}}');"><i class="fa fa-newspaper-o"></i></div>
                <div class="button" onclick="window.open('{{article.link}}');"><i class="fa fa-external-link"></i></div>
            </div>

        </div>
        {% empty %}
        No articles to render.
        {% endfor %}
    </div>
</div>
<div class="articles_right_panel">
    <div class="article_source_checkboxes right_panel_section">
        <b>Sources:</b><br>
        {% for source, source_feeds in article_sources.items %}
        <input type="checkbox" id="source_{{source}}" name="source_{{source}}" source="{{source}}" checked
            onclick="clicked_source(this)">
        <label for="source_{{source}}">{{source}}</label>
        <br>
        {% endfor %}
    </div>
</div>

{% endblock content %}