html {
  font-size: 62.5%;
  height: 100%;
}

body {
  display: flex;
  background-color: #E7E9EB;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.THING {
  margin: auto;
  font-size: 8rem;
  width: min(90%, 10em);
}

@media only screen and (max-width: 40rem) {
  .THING {
    font-size: 3rem;
    width: min(90%, 10em);
  }
}


.flashcard {
  margin: auto;
  background-color: white;
  box-shadow: 0 0 2rem rgb(0, 0, 0, 0.9);
  border-radius: 10px;
  padding: 5rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.word {
  text-align: center;
}

.word-medium {
  font-size: 5rem;
}

.word-small {
  font-size: 3rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.button {
  box-shadow: 2px 2px 3px black;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: rgb(220, 220, 220);
  cursor: pointer;
  margin: 1rem;
}

.button:hover {
  background-color: rgb(166, 166, 166);
}

.button-checked {
  background-color: rgb(166, 166, 166);
}

.button-disabled {
  background-color: rgb(95, 95, 95);
}

.tall-button {
  height: 6rem;
}

.button-rating-1 {
  background-color: red;
}

.button-rating-2 {
  background-color: orange;
}

.button-rating-3 {
  background-color: yellow;
}

.button-rating-4 {
  background-color: green;
  color: white;
}

.button-rating-5 {
  background-color: blue;
  color: white;
}

.rating-checked {
  outline: black;
  outline-style: solid;
  outline-width: 10px;
}

.popup-content {
  position: fixed;
  top: 123px;
  left: 50%;
  background-color: white;
  height: fit-content;
  width: fit-content;
  font-size: 3rem;
  border-radius: 10px;
  color: rgb(38, 38, 38);
  text-align: center;
  padding: 20px;
  transform: translate(-50%, 0%);
}

.blocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: ' ';
  background: rgba(0, 0, 0, .5);
}


.existing-entries {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.existing-entry {
  background-color: rgb(170, 184, 244);
  border-radius: 10px;
  padding: 0.5rem;
}