div {
  font-size: 30px;
}

a {
  color: inherit;
}

.page {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.wordslist-form {
  width: 100px;
  float: right;
  position: fixed;
  right: 200;
  top: 30px;
}

.card {
  width: 50%;
  height: fit-content;
  background-color: #cfd8dc;
  border-radius: 15px;
  padding: 50px;
  margin-top: 30px;
}

.word_line {
  width: fit-content;
}

.line_element{
  font-size: 30px;
  padding: 20px;
}

input[class="super-happy"]:hover + svg,
input[class="super-happy"]:checked + svg,
input[class="super-happy"]:focus + svg {
  fill: rgb(0, 109, 217);
}

input[class="happy"]:hover + svg,
input[class="happy"]:checked + svg,
input[class="happy"]:focus + svg {
  fill: rgb(0, 204, 79);
}

input[class="neutral"]:hover + svg,
input[class="neutral"]:checked + svg,
input[class="neutral"]:focus + svg {
  fill: rgb(193, 184, 73);
}

input[class="sad"]:hover + svg,
input[class="sad"]:checked + svg,
input[class="sad"]:focus + svg {
  fill: rgb(229, 132, 0);
}

input[class="super-sad"]:hover + svg,
input[class="super-sad"]:checked + svg,
input[class="super-sad"]:focus + svg {
  fill: rgb(239, 42, 16);
}


input[type="radio"] {
  position: absolute;
  opacity: 0;
}

