/* TODO merge this with the flashcards css */
.TODO {
  background-color: red;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: #E7E9EB;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}


.page {
  margin: auto;
  font-size: 2.5rem;
  width: min(90%, 40em);
}

.card {
  margin: auto;
  background-color: white;
  box-shadow: 0 0 2rem rgb(0, 0, 0, 0.9);
  border-radius: 10px;
  padding: 5rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.word-line {
  display: grid;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  grid-template-columns: 5% 5% 25% 25% 15% 20% 5%;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.word-line-selected {
  background-color: #ececec;
}

.line-seperator {
  border-bottom: 1px solid #cecece;
}

.word-line-element {
  text-align: center;
}

.rating-buttons {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
}

.button {
  box-shadow: 2px 2px 3px black;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: rgb(220, 220, 220);
  cursor: pointer;
}

.round-button{
  border-radius: 3rem;
}

.button:hover {
  background-color: rgb(166, 166, 166);
}

.button-checked {
  background-color: rgb(166, 166, 166);
}

.button-disabled {
  background-color: rgb(95, 95, 95);
}

.button-rating-1 {
  background-color: red;
}

.button-rating-2 {
  background-color: orange;
}

.button-rating-3 {
  background-color: yellow;
}

.button-rating-4 {
  background-color:#b7dd29;
}

.button-rating-5 {
  background-color: green;
  color: white;
}

.button-rating-0{
  /* box-shadow: 2px 2px 3px black; */
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: fit-content;
  padding: 0.5rem;
  /* border-radius: 5px; */
  /* background-color: rgb(220, 220, 220); */
  cursor: pointer;
}

.button-rating-unrated {
  background-color:#496585;
  color: white;
}

.button-rating-opposite:is(.rating-checked) {
  opacity: 0.1;
}

.button-rating:not(.rating-checked) {
  opacity: 0.1;
}

.rating-selected {
  -webkit-box-shadow:inset 0px 0px 3px 0.5rem #2196F3;
  -moz-box-shadow:inset  0px 0px 3px 0.5rem #2196F3;
  box-shadow:inset  0px 0px 3px 0.5rem #2196F3;
}

.select-word-checkbox {
  height: 2.5em;
  width: 2.5em;
  background-color: #eee;
}

.select-deselet-checkbox {
  height: 35px;
  width: 35px;
}

/* On mouse-over, add a grey background color */
.select-word-checkbox:hover {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.select-word-checkbox input:checked {
  background-color: #2196F3;
}

.popup-content {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  height: fit-content;
  width: fit-content;
  max-width: 70rem;
  font-size: 3rem;
  border-radius: 10px;
  color: rgb(38, 38, 38);
  text-align: center;
  padding: 4rem;
}

.blocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: ' ';
  background: rgba(0, 0, 0, .5);
}

.context-menu {
  position: absolute;
  top: 100px;
  left: 100px;
  background-color: red;
}

.show_context_menu {
  cursor: pointer;
}

.context-menu {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 5em;
}

.context-menu-element {
  background-color: #f1f1f1;
  font-size: 2rem;
  padding: 1rem;
}

.context-menu-element:hover {
  background-color: #ddd
}

.xxxx {
  width: 200px;
  padding: 1.0rem;
  margin: 1.5rem;
}

.number-input {
  width: 8rem;
  padding: 1.0rem;
}

.section-first {
  display: grid;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  grid-template-columns: 40% 10% 40%;
}

.section-second {
  margin-top: 5rem;
}

.first-word-line {
  margin-bottom: 1rem;
}

.pointer {
  cursor: pointer;
}

.eyeer {
  width: fit-content;
  align-items: center;
}

h4 {
  margin-bottom: 0.3rem;
}

.build_articles_submit_button_section {
  display: flex;
  align-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

.build_articles_submit_button {
  padding: 1rem;
}

.word-index-display{
  color: grey;
  text-align: center;
}

.select-deselect-rating-1{
  filter: hue-rotate(40deg) brightness(1.5);
}
.select-deselect-rating-2{
  filter: hue-rotate(90deg) brightness(1.5);
}
.select-deselect-rating-3{
  filter: hue-rotate(190deg) brightness(1.5);
}
.select-deselect-rating-4{
  filter: hue-rotate(90deg) brightness(1.5);
}
.select-deselect-rating-5{
  filter: hue-rotate(90deg) brightness(1.5);
}
.select-deselect-rating-1:checked{
  filter: hue-rotate(0deg) brightness(1.1);
  accent-color: red;
}
.select-deselect-rating-2:checked{
  filter: hue-rotate(0deg) brightness(1.1);
  accent-color: orange;
}
.select-deselect-rating-3:checked{
  filter: hue-rotate(0deg) brightness(1.1);
  accent-color: yellow;
}
.select-deselect-rating-4:checked{
  filter: hue-rotate(0deg) brightness(1.1);
  accent-color: #b7dd29;
}
.select-deselect-rating-5:checked{
  filter: hue-rotate(0deg) brightness(1.1);
  accent-color: green;
}

.distinct-section{
  border: 1px solid black;
  border-radius: 2rem;
  padding: 2rem;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

.select-filter-line {
  display: grid;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  grid-template-columns: 5% 40% 20% 20%;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.extra-gap{
  gap: 0.5rem;
}

.select-all-button {
  width: 6rem;
  margin-right: 1rem;
}

.form-section-title{
  font-weight: bold;
  text-align: left;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.form-section-subtitle {
  color: grey;
  font-size: 2rem;
  text-align: left;
}

.distinct-form-section{
  border-radius: 2rem;
  padding: 2rem;
  margin: 0.3rem;
  margin-bottom: 1rem;
}


.form-line{
  display: grid;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  grid-template-columns: 40% 60%;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.form-field-name{
  text-align: left;
  font-size: 2rem;


}

.form-line-middle{
  border-bottom: solid 1px rgb(209, 209, 209);
}

.round-button-small{
  border-radius: 100%;
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  padding: 0px;
  flex: initial;
}

.button-small{
  box-shadow: 2px 2px 3px black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: rgb(220, 220, 220);
  cursor: pointer;
  width: fit-content;
  font-size: 1.5rem;
  margin: 0.3rem;
}

.date-quick-select{
  margin: 1rem;
  display: flex;
}