div {
  font-size: 30px;
}

a {
  color: inherit;
}

.page {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-family: sans-serif;
}
.flashcard {
  width: 50%;
  height: fit-content;
  background-color: #cfd8dc;
  border-radius: 15px;
  padding: 50px;
  margin-top: 30px;
}

.flashcard-top-word {
  padding: 5px;
  font-size: 60px;
  text-align: center;
}

.flashcard-bottom-word {
  outline: 1px black dotted;
  padding: 5px;
  font-size: 50px;
  text-align: center;
}

.button {
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  border-radius: 20px;
  outline: 1px black ridge;
  text-align: center;
  background-color: #bad3da;
}

.button:hover {
  background-color: #8c8c8c;
  outline: 2px black ridge;
}

#next-button {
  background-color: #a1aea1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 60%;
  align-self: center;
}

.flashcard-buttons {
  text-align: center;
  margin-top: 30px;
}

.flashcard-button {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}
